@import "dicecoin.min.css";
html, body {
    height: auto;
}
.header .user-menu{
    margin-right: 29px;
}
.mbet:hover a, .mbet:focus a{
    color: #fff;
}
a.bt_button:hover, a.bt_button:focus, a.bt_button:active{
    text-decoration: none;
    color: #fff;
}
.fa{
    position: relative;
    top: -1px;
    margin-right: 3px;
}