@import "dicecoin.min.css";
html, body {
    height: auto;
}
.header .user-menu{
    margin-right: 29px;
}
.mbet:hover a, a.bt_button:hover{
    text-decoration: none;
    color: #fff;
}
.mbet a:focus{
    text-decoration: none;
}
.fa{
    position: relative;
    top: -1px;
    margin-right: 3px;
}
div.msgBox{
    padding: 2em 2em 3em 2em;
    color: #000;
}
div.msgBoxTitle{
    border: none;
    line-height: 1.5em;
    font-size: 1.5em;
    color: #000;
}
div.msgBoxImage{
    display: none;
}
.block-content table input[type="text"]{
    width: 90px;
}
.select tr td:first-child {
    width: 33%;
}
.select .second, .select .third {
    width: 33%;
}
.select thead td{
    text-align: center;
}
.select tbody td {
    text-align: center;
    padding: 5px;
    position: relative;
}
.input_addon{
    position: absolute;
    right: 20px;
    top: 18px;
    font-weight: 300;
}
.input, input[type="text"]{
    font-weight: 300;
}
.select.info-block{
    height: 90px;
    cursor: default;
}
.under_over_num{
    cursor: pointer;
}
.button.roll-dice:focus, .button.deposit:focus, .button.withdraw:focus{
    text-decoration: none;
    color: #fff;
}
label{
    font-weight: 300;
}
.total-info .player-info .player-table {
    height: 150px;
}
a.fa{
    cursor: pointer;
}
a.fa:hover, a.fa:focus{
    text-decoration: none;
}
#bets_st_table thead td {
    font-size: 16px;
    color: #818181;
    padding-top: 15px;
}
#bets_st_table tr {
    text-align: left;
    background-color: #f7f7f7;
    margin-bottom: 10px;
    border-bottom: 3px solid #e7e7e7;
    border-left: 4px solid #34b989;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 10px 0 10px 16px;
    position: relative;
}