@import "dicecoin.min.css";
html, body {
    height: auto;
}
.header .user-menu{
    margin-right: 29px;
}
.mbet:hover a, a.bt_button:hover{
    text-decoration: none;
    color: #fff;
}
.mbet:focus{
    text-decoration: none;
}
.fa{
    position: relative;
    top: -1px;
    margin-right: 3px;
}