div.msgBox
{
    padding: 3em 2em;
    position: fixed;
    z-index: 1000;
    font-family:Verdana;
    width: 800px;
    /*min-height:160px;      */
    color: #000;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 11px #000000;
    -webkit-box-shadow: 0px 0px 11px #000000;
    box-shadow: 0px 0px 11px #000000;
}
div.msgBox .msgClose{
    position: absolute;
    right: 0px;
    font-size: 1.5em;
    padding: 15px;
    color: #fff;
    background: rgb(51,185,137);
    margin: 0;
    top: 0;
}
div.msgBoxBackGround
{
    top:0;
    left:0;
    position:absolute;
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    background-color:#444;
    opacity:0.9;
    z-index:999;
}
div.msgBoxTitle
{
    padding:5px 0 5px 0;
    font-weight:lighter;
    color:#444;
    width:100%;
    line-height: 1.5em;
    font-size: 1.5em;
    text-align: center;
}
div.msgBoxImage img
{
    height:75px;
    width:75px;
}
div.msgBoxContent
{
    font-size:11pt;
    margin:0 3px 6px 3px;
    display:inline-block;
    float:left;
}
div.msgBoxContent .dp_addr{
    text-align: center;
    color: #c7254e;
    font-size: 1.2em;
    font-weight: 300;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
div.msgBoxContent p
{
    padding:0;
    margin:0;
    display: table;
    height: 100%;
    width: 100%;
}

div.msgBoxContent span 
{
    display: table-cell;
    vertical-align: middle;
    color: #00335e;
}

div.msgBoxButtons
{
    display:inline-block;
    width:100%;
    text-align:right;
}
div.msgBoxButtons input[type='button']
{
    cursor:pointer;
    margin:2px;
    height:35px;
    width:90px;
    border:1px solid #AFAFAF;
    background-color:#004076;
    color:#FFFFFF;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
div.msgBoxButtons input[type='button']:hover
{
    background-color:#00549c;
    color:White;                                                  
}
div.msgBoxButtons input[type='button']:active
{
    background-color:#AAAAAA;
    color:White;
}
div.msgBoxButtons input[type='button']._inactive
{
    background-color:#AAAAAA;
    color:White;
}

div.msgBoxInputs
{
    margin:0 auto;
    padding-top:2px;
    padding-bottom:2px;
    margin-top:5px;
    width:195px;
}
div.msgInput input[type='text'],div.msgInput input[type='password']
{
    padding:4px;
    border:1px solid #DFDFDF;
    color:#2f2f2f;
    width:180px;
}
div.msgInput text
{
    color:#2f2f2f;
    font-size:10pt;
}